@using CustomerMVC.ViewModels;
@model AddOrderProductViewModel;
@{
    ViewData["Title"] = "AddOrderProduct";
}

<h2>Add Order Product</h2>
<form method="post" asp-controller="OrderProduct" asp-action="Add">
    <div class="form-group">
        <label asp-for="orderID"></label>
        <input asp-for="orderID" value="@ViewBag.orderID" />
        <span asp-validation-for="orderID"></span>
    </div>

    <div class="form-group">
        <label asp-for="productID"></label>
        <select asp-for="productID" asp-items="@AddOrderProductViewModel.getProductSelectList()"></select>
        <span asp-validation-for="productID"></span>
    </div>

    <div class="form-group">
        <label asp-for="quantity"></label>
        <input asp-for="quantity" />
        <span asp-validation-for="quantity"></span>
    </div>

    <input type="submit" value="Add Item" />

</form>


