
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h3><a asp-controller="Customer" asp-action="Add">Add Customer</a></h3>
<h3><a asp-controller="Customer" asp-action="Remove">Remove Customer</a></h3>

<h3><a asp-controller="Note" asp-action="Add">Add Note</a></h3>


<h3><a asp-controller="Vendor" asp-action="Add">Add Vendor</a></h3>


<h3><a asp-controller="Product" asp-action="Add">Add Product </a></h3>

<h3><a asp-controller="Order" asp-action="Add">Add Order </a></h3>

<h3><a asp-controller="Order" asp-action="Detail">View Order Detail </a></h3>

