@using CustomerMVC.ViewModels;
@model AddProductViewModel;
@{
    ViewData["Title"] = "AddProduct";
}
<h2>Add Product</h2>
<form method="post" asp-controller="Product" asp-action="Add">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name"></span>

    </div>
    <div class="form-group">
        <label asp-for="basePrice"></label>
        <input asp-for="basePrice" />
        <span asp-validation-for="basePrice"></span>

    </div>
    <div class="form-group">
        <label asp-for="desc"></label>
        <input asp-for="desc" />
        <span asp-validation-for="desc"></span>

    </div>
    <div class="form-group">
        <label asp-for="vendorID"></label>
        <select asp-for="vendorID" asp-items="Model.getVendorSelectList()"></select>
        <span asp-validation-for="vendorID"></span>

    </div>
    <input type="submit" value="Add Product" />


</form>
